/* CSS Document */


/* Cart Page */

#cart {}

	#cart h2 {
		color:#4064ae;
		font-size:24px;
		margin:20px 0px 40px 0px;
		padding:0px 0px 20px 0px;
		border-bottom:1px #dbdbdb solid;
	}

	#cart .cart-contents .productListing-heading,
	#cart .cart-contents #firstContentSell { display:none; }
	
	#cart .cart-contents .product-image { width:60px !important; }
	#cart .cart-contents .product-image img {
		width:60px !important;
		height:auto !important;
		margin-right:8px;
	}
	
	#cart .cart-contents .product-name a {
		color:#373737;
		text-decoration:none;
		font:13px arial;
		line-height:19px;
		font-weight:bold;
	}
	
	#cart td.product-data { width:40%; }
	
	#cart a.qty-minus,
	#cart a.qty-plus {
		background-color:#ebebeb;
		width:29px;
		height:29px;
		text-align:center;
		line-height:29px;
		display:inline-block;
		float:left;		
		background-repeat:no-repeat;
		background-size:13px 7px;
		background-position:50% 50%;
	}
	
	#cart a.qty-minus {
		background-image:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEwLjkzcHgiIGhlaWdodD0iNS45NjVweCIgdmlld0JveD0iMCAwIDEwLjkzIDUuOTY1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMC45MyA1Ljk2NSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjOTM5MTkyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHBvaW50cz0iMC41LDAuNSA1LjQ2NSw1LjQ2NSAxMC40MywwLjUgIi8+DQo8L3N2Zz4=");
	}
	
	#cart a.qty-plus {
		background-image:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEwLjkzcHgiIGhlaWdodD0iNS45NjVweCIgdmlld0JveD0iMCAwIDEwLjkzIDUuOTY1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMC45MyA1Ljk2NSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjOTM5MTkyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHBvaW50cz0iMTAuNDMsNS40NjUgNS40NjUsMC41IDAuNSw1LjQ2NSANCgkiLz4NCjwvc3ZnPg==");
	}
	
	#cart input[name='cart_quantity[]'] {
		float:left;
		height:27px;
		width:40px;
		padding:0px;
		margin:0;
		border:1px #ebebeb solid;
		text-align:center;
		font:13px arial;
		color:#333;
		line-height:27px;
	}
	
	#cart select.vat-dropdown {
		border:1px #dbdbdb solid;
		height:28px;
		line-height:28px;
		color:#656565;
		font:13px arial;
		width:120px;
	}
	
	#cart #lastContentSell {
		color:#656565;
		font:13px arial;
		font-weight:bold;
		text-align:right;
		line-height:27px;
	}
	
	#cart tr.total td {
		background-color:#f3f3f3;
		border-top:1px #dddddd solid;
		padding:20px 0px;
	}
	
	#cart tr.total td.main {
		padding-right:10px;
		color:#333333;
		font:19px arial;
		font-weight:bold;
	}
	
	#cart tr.total td.main span {
		display:inline-block;
		margin-right:14px;
	}
	
	#cart .productListing-bottom { display:none; }
	
	#cart .cart-actions {
		margin:20px 0px;
	}
	
	#cart a.link-continue-shopping {
		font:13px arial;
		font-weight:bold;
		color:#4064ae;
		text-decoration:none;
	}
	
	#cart a.link-continue-shopping {
		margin-right:20px;
		display:inline-block;
		margin-top:12px;
	}
	
	#cart .checkout-paypal {
		float:right;
		margin:5px 5px 0px 0px;
	}

	#cart .button-checkout {
		width:180px;
		height:44px;
		background-color:#a1c858;
		text-align:center;
		border-radius:4px;
		color:#fff;
		font:18px arial;
		line-height:44px;
		text-decoration:none;
		display:block;
		margin:0px 0px 5px 0px;
	}
	
	#cart .checkout-cheque {
		float:right;
		display:block;
		font-weight:bold;
		margin:5px 50px 0px 0px;
	}


/* Shipping Estimator */

#shipping-estimator {}

	#shipping-estimator h3 {
		font:18px arial;
		color:#313131;
		font-weight:bold;
		border-bottom:1px #dbdbdb solid;
		padding-bottom:10px;
		margin-bottom:10px;
	}
	
	#shipping-estimator h3 span {
		font-size:12px;
	}
	
	#shipping-estimator form[name='estimator'] table td {
		font:13px arial;
		color:#313131;
	}
	
	#shipping-estimator form[name='estimator'] span.field-title {
		font-weight:bold;
		display:inline-block;
		width:100px;
	}
	
	#shipping-estimator form[name='estimator'] input[type='text'],
	#shipping-estimator form[name='estimator'] select {
		width:200px;
		border:1px #dbdbdb solid;
		font:13px arial;
		color:#656565;
		padding:4px;
	}
	
	#shipping-estimator input[name='zip_code'] { width:100px !important; }
	
	#shipping-estimator .shipping-options-title {
		padding:20px 0px 10px 0px;
	}
	
	#cart span.error {
		margin:10px 0px;
	}
	
	#vat-form {
		border:1px #ca4040 solid;
		border-radius:5px;
		padding:15px;
		font:13px arial;
		line-height:20px;
		margin-top:30px;
	}
	
		#vat-form .red-text {
			display:block;
			margin-bottom:10px;
		}
		
		#vat-form a {
			color:#ca4040;
		}
	
